<style>
  .table-responsive{
      overflow: hidden;
  }
  @media (max-width: 767px) {
.table-responsive {
  overflow: auto;
}
     }
 </style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<section>
   

   <div class="table-responsive ">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="text-uppercase">Rol</th>
                <th class="text-uppercase">Usuario</th>
                <th class="text-uppercase">Nombre</th>
                <th class="text-uppercase">Carnet</th>
                <th class="text-uppercase" id="layoutInSection">Modificar</th>
            </tr>
        </thead>
        <tbody>
            <% if (clientes && clientes.length) { %>
                <% clientes.forEach((clientes) => { %>
                    <tr>
                        <td class="text"><%= clientes.rol %></td>
                        <td class="text"><%= clientes.username %></td>
                        <td class="text"><%= clientes.nombres %>&nbsp; <%= clientes.apellidos %></td>
                        <td class="text"><%= clientes.ci %></td>
                        <td>
                          <div class="d-flex justify-content-center justify-content-sm-start">
                            <button type="button" id="layoutInSection" class="btn btn-primary btn-sm btn-icon btn-editar-cliente" data-toggle="modal" data-target="#registrationModal" data-id="<%= clientes.id %>">
                              <i class="fas fa-edit"></i>
                            </button>
                            </button>&nbsp;
                            <button type="button" id="layoutInSection" class="btn btn-danger btn-sm btn-icon" onclick="confirmarBorrado('<%= clientes.id %>')">
                              <i class="fas fa-user-minus"></i>
                            </button>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="5" class="text-center">No se encontraron clientes.</td>
                </tr>
            <% } %>
        </tbody>
        <tfoot>
            <tr>
                
            </tr>
        </tfoot>
    </table>
</div>
</section>

<!-- Modal de confirmación -->
<!-- Modal -->
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgb(255, 255, 255); border-radius: 1%;">
      <div class="modal-header" style="background-color: rgb(255, 255, 255);">
        <h5 class="modal-title" id="editModalLabel" style="background-color: rgb(255, 255, 255); color: black;">Editar Perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: rgb(255, 255, 255);">
        <form id="editForm" enctype="multipart/form-data" style="color: rgb(0, 0, 0); align-content: center;">
          <table>
            <tr>
              <td>
                <label for="editnombres">Nombre:</label>
                <input type="text" id="nombres" name="editnombres" value="<%= clientes.nombres %>">
              </td>
              <td>
                <label for="editapellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="editapellidos" value="<%= clientes.apellidos %>">
              </td>
            </tr>
            <tr>
              <td>
                <label for="editfechanac">Fecha de Nacimiento:</label>
                <input type="date" id="fechanac" name="editfechanac" value="<%= clientes.fechanac ? clientes.fechanac.toISOString().split('T')[0] : '' %>" style="color: black;">
              </td>
              
              <td>
                <label for="editusername">Nombre de usuario:</label>
                <input type="text" id="username" name="editusername" value="<%= clientes.username %>">
              </td>
            </tr>
            <tr>
              <td>
                <label for="editphone">Teléfono:</label>
                <input type="text" id="phone" name="editphone" value="<%= clientes.phone %>">
              </td>
              <td>
                <label for="editdireccion">Dirección:</label>
                <input type="text" id="direccion" name="editdireccion" value="<%= clientes.direccion %>">
              </td>
            </tr>
            <tr>
              <td>
                <label for="editci">CI:</label>
                <input type="text" id="ci" name="editci" value="<%= clientes.ci %>">
              </td>
             
            </tr>
            <!-- Agrega aquí el resto de los campos que deseas actualizar -->
          </table>
          <button class="btn btn-primary" onclick="guardarCliente()" type="button">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(document).on('click', '.btn-editar-cliente', function(event) {
      const button = $(event.currentTarget);
      const clienteId = button.data('id');
      console.log(clienteId);

      // Almacena el valor de clienteId en un atributo personalizado del botón
      $('#registrationModal').data('clienteId', clienteId);

      $.get(`/clientes/${clienteId}`, function(data) {
        console.log("Estos son los datos que llegaron:", data);
        $('#nombres').val(data.nombres);
        $('#apellidos').val(data.apellidos);
        $('#username').val(data.username);
        $('#ci').val(data.ci);
        $('#direccion').val(data.direccion);
       
        $('#fechanac').val(data.fechanac);
        $('#phone').val(data.phone);
        $('#clienteId').val(clienteId);

        
      });
    });
  });

  function guardarCliente() {
    const clienteId = $('#registrationModal').data('clienteId'); // Recupera el valor de clienteId del atributo personalizado del modal

    const nombres = $('#nombres').val();
    const apellidos = $('#apellidos').val();
    const fechanac = $('#fechanac').val();
    const username = $('#username').val();
    const phone = $('#phone').val();
    const direccion = $('#direccion').val();
    const ci = $('#ci').val();
    

    var data = {
      nombres: nombres,
      apellidos: apellidos,
      fechanac: fechanac,
      username: username,
      phone: phone,
      direccion: direccion,
      ci: ci
      
    };

    fetch(`/editclientes/${clienteId}`, {
      method: 'PUT', // Cambia a PUT
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .then((result) => {
        Swal.fire({
          title: 'Éxito',
          text: result.message,
          icon: 'success',
          confirmButtonText: 'Aceptar',
        }).then(() => {
          console.log(clienteId);
          console.log(data);
          location.reload();
        });

      })
      .catch((error) => {
        Swal.fire({
          title: 'Error',
          text: 'Ocurrió un error al actualizar el cliente',
          icon: 'error',
          confirmButtonText: 'Aceptar',
        });
      });
  }
</script>


<script>
    function confirmarBorrado(userId) {
 Swal.fire({
   title: 'Confirmación',
   text: '¿Estás seguro de que deseas dar de baja a este usuario?',
   icon: 'warning',
   showCancelButton: true,
   confirmButtonText: 'Confirmar',
   cancelButtonText: 'Cancelar',
   dangerMode: true
 }).then((result) => {
   if (result.isConfirmed) {
     // Realiza una solicitud PUT al servidor para cambiar el estado del usuario
     $.ajax({
       url: `/borrarcliente/${userId}`,
       type: 'PUT',
       data: { estado: false }, // Cambia el estado del usuario a false
       success: function(response) {
         // Si la eliminación fue exitosa, muestra un mensaje de éxito
         Swal.fire({
           title: 'Éxito',
           text: response.message,
           icon: 'success',
           confirmButtonText: 'Aceptar',
         }).then(() => {
           // Actualiza la página o realiza cualquier otra acción necesaria
           location.reload();
         });
       },
       error: function(error) {
         // Si ocurrió un error durante la eliminación, muestra un mensaje de error
         console.log(error);
         Swal.fire({
           title: 'Error',
           text: 'Ocurrió un error al eliminar el usuario',
           icon: 'error',
           confirmButtonText: 'Aceptar',
         });
       },
     });
   }
 });
}

  
</script>

 <!-- Incluye la biblioteca de FontAwesome -->
 <script src="https://kit.fontawesome.com/xxxxxxxxxx.js" crossorigin="anonymous"></script>
 <!-- Incluye la biblioteca de jQuery -->
 
 <!-- Incluye la biblioteca de SweetAlert -->
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
 <!-- Incluye la biblioteca de Bootstrap -->
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>